@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Montserrat&family=Prata&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Prata", serif;
	justify-content: center;
}

body {
	background: white;
	height: 1000px;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

section:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

section:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #d7b7b7;
	mix-blend-mode: color;
}

section img {
	position: absolute;
	top: -5%;
	width: 100%;
	height: 50%;
	pointer-events: none;
}

#text {
	position: relative;
	color: #fff;
	font-size: 3em;
	z-index: 1;
	top: -20%;
	right: 36%;
}

li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: gray;
	text-decoration: none;
	top: 1px;
	position: relative;
	font-weight: bold;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	position: sticky;
	top: -10px;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
	background-color: white;
	opacity: 0.8;
}


.nav_links {
	list-style: none;
	position: sticky;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
	left: -400px;
}

.nav_links li a:hover {
	color: #543636;
}

.nursery {
	font-family: "Prata", serif;
	font-size: 20;
	color: gray;
	font-weight: bold;
	position: relative;
	top: 10px;
}

.margin {
	margin: -5% 0;
	top: 100%;
}

.parallax {
	background: url(new.png) repeat fixed 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-inner {
	padding-top: 20%;
	padding-bottom: 20%;

}

.qu {
	position: relative;
	top: -30%;
	color: gray;
	font-size: 50px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

.current {
	position: relative;
	top: -30%;
	color: rgb(181, 181, 181);
	font-size: 25px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

b {
	color: rgb(232, 171, 171);
	font-size: 50px;
}

hr {
	position: relative;
	width: 70px;
	background-color: gray;
	left: 10%;
	top: -28%;

}

.li1 {
	position: relative;
	top: -20%;
	color: rgb(232, 171, 171);
	font-size: 25px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

.ans1 {
	position: relative;
	top: -18%;
	color: rgb(181, 181, 181);
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 12%;
}

.li2 {
	position: relative;
	top: -15%;
	color: rgb(232, 171, 171);
	font-size: 25px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

.ans2 {
	position: relative;
	top: -13%;
	color: rgb(181, 181, 181);
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 12%;
}

.li3 {
	position: relative;
	top: -10%;
	color: rgb(232, 171, 171);
	font-size: 25px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

.ans3 {
	position: relative;
	top: -8%;
	color: rgb(181, 181, 181);
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 12%;
}

.li4 {
	position: relative;
	top: -6%;
	color: rgb(232, 171, 171);
	font-size: 25px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 1220px;
	left: 10%;
}

.ans4 {
	position: relative;
	top: -4%;
	color: rgb(181, 181, 181);
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	width: 900px;
	left: 12%;
}

.line {
	background-color: gray;
	height: 20%;
	position: relative;
	top: -63%;
	width: 1%;
	left: 75%;
}

.line1 {
	background-color: rgb(255, 255, 255);
	height: 8%;
	position: absolute;
	top: 25%;
	width: 1%;
	left: 8%;
}

.top {
	background-repeat: no-repeat;
	top: 590px;
	position: fixed;
	font-family: "Montserrat", sans-serif;
	left: 95%;
	color: white;
	transition: all 0.3s ease-out;
	background-color: gray;
	width: 18px;
	align-items: center;
	border-radius: 20px;
	border: solid 3px white;
	padding: 5px;
}

.top:hover {
	transform: translateY(-10px);
}

.bot {
    background-repeat: no-repeat;
	top: 650px;
	position: fixed;
	font-family: "Montserrat", sans-serif;
	left: 95%;
	color: white;
	transition: all 0.3s ease-out;
	background-color: gray;
	width: 18px;
	align-items: center;
	border-radius: 20px;
	border: solid 3px white;
	padding: 5px;
    z-index: 1;
}

.bot:hover {
	transform: translateY(-10px);
}