#sum_mode {
    background-color: rgb(249, 226, 191);
  }
#chris_mode{
    background-color: #540f17;
    
  }
#def_mode{
    background-color: rgb(255, 255, 255);
  
  }
#hal_mode {
    background-color: #252525;
  
  }
#val_mode{
    background-color: rgb(235, 174, 174);
    
  }
#eas_mode{
    background-color: rgb(252, 227, 243);
   
  }
#new_mode{
    background-color: rgb(150, 38, 24);
}